In [1]:
# open as pandas the heart_2022_no_nans.csv file
import pandas as pd

df = pd.read_csv('data/heart_2022_no_nans.csv')

In [2]:
# drop columne 'State'
df.drop('State', axis=1, inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246022 entries, 0 to 246021
Data columns (total 39 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Sex                        246022 non-null  object
 1   GeneralHealth              246022 non-null  object
 2   PhysicalHealthDays         246022 non-null  float64
 3   MentalHealthDays           246022 non-null  float64
 4   LastCheckupTime            246022 non-null  object
 5   PhysicalActivities         246022 non-null  object
 6   SleepHours                 246022 non-null  float64
 7   RemovedTeeth               246022 non-null  object
 8   HadHeartAttack             246022 non-null  object
 9   HadAngina                  246022 non-null  object
 10  HadStroke                  246022 non-null  object
 11  HadAsthma                  246022 non-null  object
 12  HadSkinCancer              246022 non-null  object
 13  HadCOPD                    246022 non-null  object
 14  HadDepressiveDisorder      246022 non-null  object
 15  HadKidneyDisease           246022 non-null  object
 16  HadArthritis               246022 non-null  object
 17  HadDiabetes                246022 non-null  object
 18  DeafOrHardOfHearing        246022 non-null  object
 19  BlindOrVisionDifficulty    246022 non-null  object
 20  DifficultyConcentrating    246022 non-null  object
 21  DifficultyWalking          246022 non-null  object
 22  DifficultyDressingBathing  246022 non-null  object
 23  DifficultyErrands          246022 non-null  object
 24  SmokerStatus               246022 non-null  object
 25  ECigaretteUsage            246022 non-null  object
 26  ChestScan                  246022 non-null  object
 27  RaceEthnicityCategory      246022 non-null  object
 28  AgeCategory                246022 non-null  object
 29  HeightInMeters             246022 non-null  float64
 30  WeightInKilograms          246022 non-null  float64
 31  BMI                        246022 non-null  float64
 32  AlcoholDrinkers            246022 non-null  object
 33  HIVTesting                 246022 non-null  object
 34  FluVaxLast12               246022 non-null  object
 35  PneumoVaxEver              246022 non-null  object
 36  TetanusLast10Tdap          246022 non-null  object
 37  HighRiskLastYear           246022 non-null  object
 38  CovidPos                   246022 non-null  object
dtypes: float64(6), object(33)
memory usage: 73.2+ MB

In [4]:
df.sample(10)

,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,HadAngina,...,HeightInMeters,WeightInKilograms,BMI,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos
225343,Male,Good,0.0,0.0,Within past year (anytime less than 12 months ...,No,7.0,None of them,No,No,...,1.70,83.91,28.97,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
208860,Female,Poor,30.0,30.0,Within past year (anytime less than 12 months ...,Yes,8.0,1 to 5,Yes,Yes,...,1.47,58.51,26.96,No,No,Yes,Yes,"Yes, received Tdap",No,No
13589,Male,Good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,6.0,1 to 5,No,No,...,1.70,87.54,30.23,Yes,No,Yes,Yes,"Yes, received tetanus shot but not sure what type",No,No
164582,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,"6 or more, but not all",No,No,...,1.52,68.04,29.29,Yes,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No
68257,Female,Good,0.0,0.0,Within past year (anytime less than 12 months ...,No,10.0,All,No,No,...,1.70,140.61,48.55,No,No,No,No,"No, did not receive any tetanus shot in the pa...",No,Yes
88090,Male,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,1 to 5,No,No,...,1.75,90.72,29.53,Yes,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No
210276,Male,Good,8.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,1 to 5,No,No,...,1.80,90.72,27.89,Yes,No,No,No,"No, did not receive any tetanus shot in the pa...",No,Tested positive using home test without a heal...
144583,Female,Good,0.0,5.0,Within past year (anytime less than 12 months ...,Yes,8.0,None of them,No,No,...,1.60,90.72,35.43,Yes,No,Yes,No,"No, did not receive any tetanus shot in the pa...",No,No
111836,Female,Fair,10.0,1.0,Within past year (anytime less than 12 months ...,Yes,4.0,None of them,No,No,...,1.57,77.11,31.09,Yes,No,No,Yes,"Yes, received Tdap",No,Yes
78652,Male,Fair,2.0,2.0,Within past year (anytime less than 12 months ...,No,8.0,"6 or more, but not all",No,No,...,1.83,72.57,21.70,No,No,Yes,Yes,"No, did not receive any tetanus shot in the pa...",No,No

In [5]:
# extract df.sample(10) as md with table format markdown
def extract_sample(df, n=10):
    return df.sample(n).to_markdown(index=False)

mdfile = extract_sample(df)

# write "sample_data.md" file
with open("sample_data.md", "w") as f:
    f.write(mdfile)

In [6]:
# ... existing code ...

# New cell to write unique values of non-numeric columns to a markdown file
output_md_content = ""
for col in df.columns:
    if df[col].dtype == 'object': # Checks if the column is non-numeric
        output_md_content += f"## Column: {col}\n"
        output_md_content += f"Number of unique values: {df[col].nunique()}\n"
        output_md_content += "Unique values:\n"
        output_md_content += "```\n"
        for val in df[col].unique():
            output_md_content += f"{val}\n"
        output_md_content += "```\n"
        output_md_content += "---\n\n"

with open("string_unique_values.md", "w", encoding='utf-8') as f:
    f.write(output_md_content)

print("Markdown file 'string_unique_values.md' has been created.")

# ... existing code ...

Markdown file 'string_unique_values.md' has been created.